<link href="tailwind/tailwind.css" rel="stylesheet">
<div class="p-6">
    <h1 class="font-bold">CONTACTEZ NOUS</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <br>
    <h1 class="font-bold">FORMULAIRE :</h1>
    <div class="flex grid grid-cols-2 bg-jaune-300 justify-center items-center">
        <form action="index.php" method="POST" class="flex flex-col justify-center">
        <input type="text" name="nom" placeholder="Nom" class="col-span-1 rounded-t-lg bg-noir-800 placeholder-jaune-200 text-jaune-300">
        <input type="text" name="Prenom" placeholder="Prenom" class="col-span-1 bg-noir-800 placeholder-jaune-200 text-jaune-300">
        <input type="text" name="Email" placeholder="Email" class="col-span-1 bg-noir-800 placeholder-jaune-200 text-jaune-300">
        <input type="text" name="Numero" placeholder="Numero de telephone" class="col-span-1 bg-noir-800 placeholder-jaune-200 text-jaune-300">
        <input type="text" name="Objet" placeholder="Objet" class="col-span-1 bg-noir-800 placeholder-jaune-200 text-jaune-300">
        <input type="text" name="Message" placeholder="Message" class="col-span-1 rounded-b-lg bg-noir-800 placeholder-jaune-200 text-jaune-300">
        <input type="submit" class="border border-transparent text-sm font-medium rounded-md text-jaune-300 font-bold bg-noir-800 transition duration-400 ease-in-out hover:border-noir-800 hover:bg-jaune-300 hover:text-noir-800">
        </form>
    </div>
</div>